/* .liquid-glass {
  background-color: var(--bg-primary);
  color: var(--text-primary);
} */

.defined-in-sbrm {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: var(--border-radius);
}